@page "/fetchdata"
@using BlazorApp3.Shared
@inject HttpClient Http

<h1>CoronaVirus Update</h1>

<p>This component will update the daily corona virus situations.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Province/State</th>
                <th>Country/Region</th>
                <th>Confirmed</th>
                <th>Death</th>
                <th>Latitude</th>
                <th>Longtitude</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cdata in forecasts)
            {
            <tr>
                <td>@cdata.ProvinceState</td>
                <td>@cdata.CountryRegion</td>
                <td>@cdata.Confirmed</td>
                <td>@cdata.Death</td>
                <td>@cdata.Latitude</td>
                <td>@cdata.Longtitude</td>
                <td>@cdata.Summary</td>

            </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

}
